<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deleted</key>
	<array>
		<string>3356CF1B-D8E3-443B-99DD-45489257C95E</string>
	</array>
	<key>name</key>
	<string>BlockML</string>
	<key>ordering</key>
	<array>
		<string>B08278A0-1742-4B5B-8D23-268784C45423</string>
		<string>94C20C03-AA9A-4522-82B8-48BBBB0BF982</string>
		<string>B4B4BA09-6EE1-4433-97EF-5C6BDBBC7973</string>
		<string>1F40247C-DE41-48A0-8AA4-27CCB04922E5</string>
		<string>B27A0EC7-AD88-4891-863F-2A02006BC961</string>
		<string>48FBCA5A-BEB8-46FA-BB5A-EF5F1E229699</string>
		<string>06A8C627-C725-48C0-98C2-72C6BE3C0518</string>
	</array>
	<key>uuid</key>
	<string>C2215EF2-9239-436E-A109-1A76857224A7</string>
</dict>
</plist>
