<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>BlocktML</string>
	<key>ordering</key>
	<array>
		<string>B08278A0-1742-4B5B-8D23-268784C45423</string>
		<string>94C20C03-AA9A-4522-82B8-48BBBB0BF982</string>
	</array>
	<key>uuid</key>
	<string>C2215EF2-9239-436E-A109-1A76857224A7</string>
</dict>
</plist>
